body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section {
  padding: 120px 0;
}

/* === HEADER === */
.header {
  border-bottom: 1px solid #E7E9FC;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation-container {
  display: flex;
  align-items: center;
}

.header-logo {
  color: #4D5AE5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-logo-span {
  color: #2E2F42;
}

.menu-list {
  display: flex;
  gap: 40px;
}

.menu-item-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}

.menu-item-link:hover {
  color: #404bbf
}

.menu-item-link:focus {
  color: #404bbf
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-link {
  color: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-item a:hover {
  color: #404bbf;
}

.address-item a:focus {
  color: #404bbf;
}

/* ============== */

/* === HERO === */
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  flex-wrap: wrap;
  width: 496px;
  padding: 0;
}

.hero-title {
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
}

.hero-btn {
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
}

.hero-btn:hover {
  background-color: #404bbf;
}

.hero-btn:focus {
  background-color: #404bbf;
}

.hero-btn:active {
  background-color: #404bbf;
}

/* ============= */

/* === VALUES === */
.values-list {
  display: flex;
  gap: 24px;
}

.values-list-item {
  display: flex;
  flex-direction: column;
  max-width: calc((100% - 72px)/4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.values-subtitle {
  margin-bottom: 8px;
}

/* ============== */

/* === TEAM === */
.team-list {
  display: flex;
  gap: 24px;
}

.team-member {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  overflow: hidden;
  max-width: calc((100% - 72px)/4);
}

.team-member-content {
  display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
}

.team-member-img {
  max-width: 100%;
}

.team-title {
  margin-bottom: 72px;
}

.team {
  background-color: #f4f4fd;
}

.team-member-name {
  margin-bottom: 8px;
  text-align: center;
}

.team-member-position {
  text-align: center;
}
/* ============== */

/* === PORTFOLIO === */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  max-width: calc((100% - 48px)/3);
}

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list-subtitle {
  margin-bottom: 8px;
}

.portfolio-card-bottom {
  border-left: 1px solid #E7E9FC;
  border-right: 1px solid #E7E9FC;
  border-bottom: 1px solid #E7E9FC;
  padding: 32px 16px;
}

.portfolio-item-img {
  max-width: 100%;
}

/* ================= */

/* === FOOTER === */
.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 100px 0;
}

.footer-logo {
  color: #4D5AE5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-span {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}